body{
    margin: 0;
    font-family: 'Cinzel', serif;
    text-align: center;
    background: linear-gradient(135deg,#c084fc,#f9a8d4,#ddd6fe);
    color: white;
    overflow-x: hidden;
    position: relative;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image:
        radial-gradient(#ffd700 1.5px, transparent 1.5px),
        radial-gradient(#ffef99 1.5px, transparent 1.5px);
    background-size: 50px 50px, 80px 80px;
    opacity: 0.45;
    animation: estrellas 10s linear infinite;
    z-index: -1;
}

@keyframes estrellas{
    from{transform: translateY(0);}
    to{transform: translateY(70px);}
}

header{
    background: rgba(147,51,234,0.8);
    padding: 20px;
}

nav button{
    padding: 10px 18px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background: white;
    color: purple;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}
#inicio{
    padding: 100px 20px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.busqueda{
    margin-top: -120px;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    width: 220px;
    border-radius: 15px;
    border: none;
}

#btnBuscar{
    padding: 10px 18px;
    border: none;
    border-radius: 15px;
    background: #f472b6;
    color: white;
    cursor: pointer;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    width: 230px;
    border-radius: 20px;
    padding: 15px;
    border: 9px solid pink;
    cursor: pointer;
    background: linear-gradient(135deg,#c084fc,#f9a8d4,#ddd6fe);
    color: white;
}

.card img{
    width: 170px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.info{
    display: none;
    margin-top: 10px;
    font-size: 14px;
}